# Don't commit NPM installed packages
node_modules/

# Don't include our security files
cert/

# Don't commit the dev log from testing
npm-debug.log

# Things we should not share (developer specific)
workspace.xml

# Don't track the images that are uploaded
image-uploads/*.png
image-uploads/*.jpeg
image-uploads/*.jpg
image-uploads/*.tif
image-uploads/*.tiff

# Other ignored things
jsLibraryMappings.xml
