extends layout
block content
    <br><br><br>
    h1.text-center Molecule of the Month Editor
    <br/>
    #CreateNewForm
    <br/>
    h2.text-center Variable Sections
    #AddVariableSections
    //#AddNewButton
    <br/><br/>
    h2.text-center Fixed Sections
    #AddFixedSections

block js-includes
    script(src='/3rd-party-js/jquery-ui-1.11.4.js')
    script(src='/js/motm-form.js')
    script(src='/js/form-listeners.js')
