extends layout

block content
    <br><br><br>
    h1.text-center Upload Images
    <br/>
    #CreateNewImageForm
    <br/>

block js-includes
    script(src='/3rd-party-js/jquery-ui-1.11.4.js')
    script(src='js/image-form.js')

