extends layout
block content
  <br/><br/><br/>
  h1 CMS Editor
  p Creators: Chris, Jesse, and Cole
  ul
    li: a(href="/motm") List MotM's
    li: a(href="/motm/new") Create a new MotM

block js-includes
