extends layout
block content
  <br/><br/><br/>
  .row
    .col-xs-12
      .table-responsive
        table#mainTable.table.table-striped
          thead
            tr
              th #
              th Image
              th Molecule Name
              th Actions
          tbody
            tr
              th 191
              td
                img.img-thumbnail(src="http://www.rcsb.org/pdb/education_discussion/molecule_of_the_month/images/191-GlutamateGatedChlorideReceptors_3rif.jpg")
              td Glutamate-gated Chloride Receptors
              td
                .btn-group
                  button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Action
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="#") Edit
                      a(href="#") Refresh
                      a(href="#") Delete
