extends layout
block content
  <br/><br/><br/>
  .row
    .col-xs-12
      .table-responsive
        table#mainTable.table.table-striped
          thead
            tr
              th #
              th Image
              th Molecule Name
              th Actions
          tbody

block js-includes
  script(src='/js/table.js')
