extends layout
block content
    <br/><br/><br/>
    h1 CMS Editor
    ul
        li: a(href="/motm") List MotM's
        li: a(href="/motm/new") Create a new MotM
        li: a(href="/image") Image upload development

block js-includes
