block all
doctype html
html
  head
    block head
      // title header (meta)
      title= "Content Management System - Editor"
      // css
      link(rel='stylesheet', href='/css/bootstrap-3.3.5.min.css')
      link(rel='stylesheet', href='/css/jquery-ui-1.11.4.css')
      link(rel='stylesheet', href='/css/tuning.css')
      // Google fonts
      link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto')
      // favicon
      link(rel='stylesheet', type="image/x-icon", href="/favicon/favicon.ico")
      link(rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png")
      link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
      link(rel="manifest" href="/favicon/manifest.json")
      meta(name="msapplication-TileColor" content="#ffffff")
      meta(name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png")
    block meta
      meta(name="theme-color" content="#ffffff")
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='CMS Editor')
      meta(name='author', content='RCSB PDB Team @ UCSD')
  body
    block body
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') CMS Editor
        #save.btn.btn-primary.pull-right.hide Save
      .container
        // Main Content - Changing
        block content
        block footer
          footer
            // Common javascript includes
            script(src='/3rd-party-js/jquery-2.1.4.min.js')
            script(src='/3rd-party-js/bootstrap-3.3.5.min.js')
            block js-includes
