extends layout
block content
    <br><br><br>
    h1 Get ALL Molecule of the Month Objects
    <br>
    .row
        .col-xs-12
            .table-responsive
                table#mainTable.table.table-bordered
                    thead
                        tr
                            th Id
                            th Image
                            th Month
                            th Year
                            th Title
                            th PDB ID
                            th Teaser
                            th Action
                        tbody
block js-includes
    script(src='/js/motm-table.js')
