extends layout
block content
  <br/><br/><br/>
  h1.
    Molecule of the Month Editor
  <br/>
  #CreateNewForm
  #AddNewSections
  #AddNewButton

  <br/><br/>
  .well.well-sm
    small Similar to Google Forms. This form should be able to be used to CRU (create, read, and update).
  <br/><br/><br/><br/>

block js-includes
  script(src='/js/newform.js')
  script(src='/3rd-party-js/dropzone.js')
