extends layout
block content
    #statusDisplay.hide
        | Nothing to display

    <br><br><br>
    .row
        .col-xs-12
            .table-responsive
                table#mainTable.table.table-bordered
                    thead
                        tr
                            th Id
                            th Image
                            th Month
                            th Title
                            th Teaser
                        tbody
block js-includes
    script(src='/js/motm-table.js')
