extends layout
block content
    #statusDisplay.hide
        | Nothing to display
    .row
        <br/><br/><br/>
        #chartArea.row.quickstatus
            #chart1.col-sm-2.theCharts
            #chart2.col-sm-2.theCharts
            #chart3.col-sm-2.theCharts
            #chart4.col-sm-2.theCharts
            #chart5.col-sm-2.theCharts
    .row
        .col-xs-12
            .table-responsive
                table#mainTable.table.table-striped
                    thead
                        tr
                            th Id
                            th Image
                            th Month
                            th Title
                            th Teaser
                        tbody
block js-includes
    script(src='/3rd-party-js/tablesorter-2.0.5.min.js')
    script(src='/3rd-party-js/radialProgress.js')
    script(src='/js/motm-table.js')
