extends layout
block content
  <br/><br/><br/>
  h1.text-center Molecule of the Month Editor
  <br/>
  #CreateNewForm
  <br/>
  h2.text-center Variable Sections
  #AddVariableSections
  #AddNewButton
  <br/><br/>
  h2.text-center Fixed Sections
  #AddFixedSections

  <br/><br/>
  .well.well-sm
    small Similar to Google Forms. This form should be able to be used to CRU (create, read, and update).
  <br/><br/><br/><br/>

block js-includes
  script(src='/js/newform.js')
  script(src='/js/form-listeners.js')
