#mainTable .img-thumbnail {
  width: 150px;
}

.form-group {
  box-shadow: 0 0 3px #ccc;
  padding: 10px;
  margin-top: 10px;
}

li {
  list-style-type: none;
}

.lastVariableSection .section-block {
  padding: 20px;
  border: 2px solid #ccc;
  margin: 10px 0;
}

.bg-variableSection {
  border: 1px solid rgba(51, 122, 183, .5);
  border-radius: 4px;
}

.image-box {
  height: 305px;
}